{% load static wagtailcore_tags wagtailsettings_tags navigation_tags menu_tags icons %}

{% get_settings %}
{% site_root as site_root %}
<header class="header">
  <div class="header__container responsive-container">
    <!-- Logo -->
    <a href="{% pageurl site_root %}" class="header__logo">
      {% if logo %}
        <img src="{{ logo.file.url }}" alt="Logo" class="header__logo-image" />
      {% else %}
        {% wagtail_site as current_site %}
        {{ current_site.site_name }}
      {% endif %}
    </a>
    <!-- Navigation Menu -->
    <button class="header__menu-toggler"
            id="navmenu-toggle-button"
            aria-label="Toggle menu">
      {% icon 'bars' %}
    </button>
    {% navmenu settings.core.MainNavigationMenuSetting.menu.slug %}
  </div>
</header>
