{% load static wagtailcore_tags wagtailsettings_tags navigation_tags menu_tags %}

{% get_settings %}
{% site_root as site_root %}
<header>
  <div class="container responsive-container">
    <!-- Logo -->
    <a href="{% pageurl site_root %}" class="logo">
      {% if logo %}
        <img src="{{ logo.file.url }}" alt="Logo" class="logo-image" />
      {% else %}
        {% wagtail_site as current_site %}
        {{ current_site.site_name }}
      {% endif %}
    </a>
    <!-- Navigation Menu -->
    {% navmenu settings.core.MainNavigationMenuSetting.menu.slug %}
  </div>
</header>
