[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ gunicorn_user }}
Group={{ app_group }}
EnvironmentFile={{ app_env_file_path }}
WorkingDirectory=/home/{{ app_user }}/{{ app_name }}
ExecStart={{ virtualenv_path }}/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ sock_path }} {{ app_wsgi_application }}
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
Restart=always
RestartSec={{ service_restart_interval }}

[Install]
WantedBy=multi-user.target
