server {
    listen 80;
    server_name {{ app_domain }};

    # Serve Let's Encrypt challenges before redirecting
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        try_files $uri =404;
    }

    # Redirect all other HTTP requests to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }

    access_log /var/log/nginx/certbot_access.log;
    error_log /var/log/nginx/certbot_error.log;
}

server {
    listen 443 ssl;
    server_name {{ app_domain }};
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 128;

    # SSL certificates
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;

    # Static files
    location /static/ {
        alias /var/www/{{ app_name }}/static/;
    }

    # Media files (user uploads)
    location /media/ {
        alias /var/www/{{ app_name }}/media/;
    }

    # Proxy requests to Gunicorn via Unix socket
    location / {
        include proxy_params;
        proxy_pass http://unix:{{ sock_path }};
    }
}
