server {
    listen 80;
    server_name {{ app_domain }};
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 128;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    access_log /var/log/nginx/certbot_access.log;
    error_log /var/log/nginx/certbot_error.log;
}
